
.card {
    margin-right: 30px;
    box-sizing: border-box;
    width: 100%;
    margin-left: -20px;
    @include on-breakpoint(tablet-up) {
      margin-left: 0px;
      padding-top: 10px;
      width: 48%;
    float: left;
  }
  }
  
  .card-text {
    padding: 20px;
    border: 2px dashed var(--c-dashed-border);
    margin-bottom: 20px;
  }
  
  .margin-left {
    @include on-breakpoint(tablet-up) {
    margin-left: 20px;
    }
  }
  
  .arrow {
    display: none;
  @include on-breakpoint(tablet-up) {
    padding-top: 100px;
    display: block;
  }
  }
  
  .arrow-top {
    transform: translate(-12%, 14%)
  }
  .arrow-middle {
    transform: translate(161%, 175%)
  }
  .arrow-bottom {
    transform: translate(-11%, 108%)
  }

  .star-top1 {
    transform: translate(-12%, -200%)
  }
  .star-top2 {
    transform: translate(-12%, -200%)
  }

  .row::after {
    content: "";
    display: block;
    clear: both;
  }
  
  .plant-pot {
    @include on-breakpoint(tablet-up) {
      margin-top: -210px;
      margin-left: 100px;
    }
  }
  
  .icon-orange {
    float:right;
    transform: translate(-9%, -73%)
  
  }
  
  .center {
    margin-left: 50%;
  }
  
  .arrow-color {
    fill: var(--c-arrow)
  }
  
  .third-box {
    @include on-breakpoint(tablet-up) {
        margin-top:-180px
    }
  }