
.section {
    display: flex;
    align-items: stretch;
    // min-height: 85vh;
    position: relative;
    z-index: 1;
    // background-color: var(--c-bg-primary);
  
    a {
      @include slide-in-hover();
    }
  }

    
  .section-body {
    display: flex;
    flex: 1;
    padding-top: 0rem;
    padding-bottom: 6rem;
    padding-left:10%;
    
    @include on-breakpoint(tablet-up) {
        margin-left: 15%;
      padding-top: 0rem;
      padding-bottom: 12rem;
    }
    @include respond(tab-land){
        margin-left: 0%;
    } 
  }

  .section-body-cards {
  //  margin-left: -10% !important;


}
  
  .section-columns {
    margin-right: 20px;
    @include on-breakpoint(tablet-up) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      max-width: 800px;
    }
    .section-intro {
      @include on-breakpoint(tablet-up) {
        flex: 2;
      }
    }
    .section-content {
      margin-top: 4rem;
      @include on-breakpoint(tablet-up) {
        margin-top: 0;
        margin-left: 7rem;
        flex: 3;
      }
    }
  
    .section-content-cs {
      margin-top: 4rem;
      @include on-breakpoint(tablet-up) {
        margin-top: 2rem;
        flex: 3;
        max-width: 270px;
      }
      svg {
        float:right;
      }
    }
  }
  
  .section-intro {
    align-self: flex-start;
    font-family: var(--font-family-tertiary);
    font-size: 1.125rem;
    & > * + * {
      margin-top: 1em;
    }
  
    a {
      font-weight: 600;
    }
  }
  
  .section-rows {
    display: flex;
    flex-direction: column;
    .section-intro {
      max-width: 800px;
    }
    .section-content {
      margin-top: 4rem;
      flex: 1;
    }
  }
  
  .section-actions {
    margin-top: 5rem;
    a {
      display: inline-block;
      border: 2px solid var(--c-text-primary);
      color: var(--c-text-primary);
      text-decoration: none;
      font-family: var(--font-family-tertiary);
      padding: 0.625em 1.5em;
      &:hover {
        background-color: var(--c-link-primary);
      }
  
    
    }
  }



.article-list-item {
    & + .article-list-item {
      margin-top: 3rem;
      @include on-breakpoint(tablet-up) {
        margin-top: 4rem;
      }
    }
  }
  
  .article-list-item-title {
    font-size: 1.375rem;
    line-height: 1.375;
    text-transform: capitalize;
    @include on-breakpoint(tablet-up) {
      font-size: 2rem;
    }
  
    a {
      text-decoration: none;
      @include slide-in-hover();
    }
  
    & + .article-list-item-excerpt {
      margin-top: 1rem;
    }
  }